.ant-card {
    margin-bottom: 20px;
}
.layout-header {
    color: white;
    text-align: center;
}

.layout-content {
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
